<div class="wrapper">
  <h1 class="title">Angular Router</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  </nav>
  <div *ngIf="trees | async as data">
    <pre>{{ data | json }}</pre> <!-- Muestra los datos en el HTML -->
  </div>
  <div *ngIf="locations | async as data2">
    <pre>{{ data2 | json }}</pre> <!-- Muestra los datos en el HTML -->
  </div>
  <div *ngIf="photos | async as data3">
    <pre>{{ data3 | json }}</pre> <!-- Muestra los datos en el HTML -->
  </div>

  <div>
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet>
</div>
